# Ignore .env #
###############
*.env

# Ignore .idea #
################
*.idea

# Ignore .exe #
###############
*.exe

# Ignore Lavalink #
###################
Lavalink

# Ignore pyCache #
##################
__pycache__